{{template "_header" .}}
<h2>Upload File(s)</h2>
<form method="post" enctype="multipart/form-data">
  <input type="file" name="file" multiple>
  <br><button type="submit" class="text-button">Upload</button>
</form>

<h2>Upload from URL</h2>
<form method="post" action="/upload-url">
  <input type="url" name="fileurl" required placeholder="File URL"><input type="text" name="filename" placeholder="Optional custom filename">
  <br><button type="submit" class="text-button">Download File</button>
</form>

<h2>Upload using yt-dlp</h2>
<form action="/add-yt" method="POST">
    <input type="text" name="url" id="url" required placeholder="Video URL">
    <br><button type="submit" class="text-button">Download Video</button>
</form>

<h2>Add Local File</h2>
<form method="post" action="/add-local">
  <input type="text" name="filepath" required placeholder="/path/to/your/file.mp4">
  <br><button type="submit" class="text-button">Add File</button>
</form>

{{template "_footer"}}
