{{template "_header" .}}

{{if .Breadcrumbs}}
<div class="breadcrumb">
  {{range $index, $crumb := .Breadcrumbs}}
    {{if ne $index 0}} <span class="breadcrumb-separator">&#9654;</span> {{end}}
    {{if $crumb.URL}}
      <a href="{{$crumb.URL}}" {{if hasPrefix $crumb.URL "/property/filetype/"}}style="text-transform:lowercase"{{end}}>{{$crumb.Name}}</a>
    {{else}}
      <a href="/tags#tag-{{$crumb.Name}}">{{$crumb.Name}}</a>
    {{end}}
  {{end}}
</div>
{{else}}
<h1>File Browser</h1>
{{end}}

{{if .Data.Tagged}}
<div class="gallery">
{{range .Data.Tagged}}
{{template "_gallery" dict "File" . "Page" $}}
{{else}}
  <p>No tagged files yet.</p>
{{end}}
</div>
{{end}}


{{template "_pagination" .}}

{{template "_footer"}}
